<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container fade-in">
        {% if current_user.is_authenticated %}
            <h1 class="title">Welcome, {{ current_user.username }}!</h1>
            <p class="subtitle">You are now logged in.</p>
            <div class="button-group">
                <a href="http://localhost:5001/?user={{ current_user.username }}" class="btn primary-btn">Go to Menu Service</a>
                <a href="{{ url_for('main.logout') }}" class="btn primary-btn">Logout</a>
            </div>
        {% else %}
            <h1 class="typewriter"><span id="typed-text"></span><span class="cursor">|</span></h1>
            <p class="subtitle">Please login to continue.</p>
            <div class="links"> 
                <a href="{{ url_for('main.login') }}" class="btn primary-btn">Login</a>
                <a href="{{ url_for('main.register') }}" class="btn secondary-btn">Register</a>
            </div>
        {% endif %}
    </div>

    <script>
        const messages = ["Welcome to Our Service", "Welcome to Manage Restoran"];
        let messageIndex = 0;
        let charIndex = 0;
        const typedText = document.getElementById("typed-text");
        const cursor = document.querySelector(".cursor");

        function type() {
            if (charIndex < messages[messageIndex].length) {
                typedText.textContent += messages[messageIndex].charAt(charIndex);
                charIndex++;
                setTimeout(type, 100);
            } else {
                setTimeout(erase, 2000);
            }
        }

        function erase() {
            if (charIndex > 0) {
                typedText.textContent = messages[messageIndex].substring(0, charIndex - 1);
                charIndex--;
                setTimeout(erase, 50);
            } else {
                messageIndex = (messageIndex + 1) % messages.length;
                setTimeout(type, 500);
            }
        }

        document.addEventListener("DOMContentLoaded", function () {
            setTimeout(type, 500);
        });
    </script>
</body>
</html>
